body {
  font-family: "Helvetica";
}

.main-banner {
  padding: 10px;
  background-color: whitesmoke;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.question {
  margin-top: 20px;
  margin-bottom: 5px;
}

.button {
  margin: 20px;
}

.navstyle {
  background-color: aliceblue;
}

.correctAnswer {
  font-weight: bold;
  background-color: honeydew;
}